<h1 style="margin-top: 180px; margin-left: 250px;">Dashboard<br></h1>
<p style="padding-top: 30px;margin-left: 250px;font-size: 40px;"><b>Welcome to MyAuthenticate App<br> Hi, <%= name %>.</b></p>
<a href="/users/logout" class="btn btn-secondary" style="margin-top: 20px; margin-left: 250px;">Logout</a>